<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LightControl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shards.min.css">
    <link rel="icon" href="#" th:href="@{/img/light-icon.ico}" type="image/x-icon"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<form action="#" th:action="@{/lighton}" method="get">
    <div class="container mt-5">
        <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="LIGHT ON">
    </div>
</form>

<form action="#" th:action="@{/lightoff}" method="get">
    <div class="container mt-5 ">
        <input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="LIGHT OFF">
    </div>
</form>

<form action="#" data-th-action="@{/schedule}" method="post" th:object="${dto}">
    <br class="container mt-5 ">
    <div class="form-group">
        <label for="startDate">Start date</label>
        <input type="text" class="form-control"
               th:field="*{startDate}" id="startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End date</label>
        <input type="text" class="form-control"
               th:field="*{endDate}" id="endDate">
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" name="action" class="btn btn-outline-primary btn-lg btn-block" value="schedule">
                SCHEDULE
            </button>
        </div>
        <div class="col">
            <button type="submit" name="action" class="btn btn-outline-dark btn-lg btn-block" value="cancel">
                CANCEL
            </button>
        </div>
    </div>

    <div class="form-group">
        <label>Schedules</label>
        <tr th:each="schedule : ${dto.schedules}">
            <ul>
                <li>
                    <span th:text="${schedule}"/>
                </li>
            </ul>
        </tr>
    </div>

    </br>

<!--    https://gijgo.com/-->

<!--    https://gijgo.com/datepicker-->
    <input id="datepicker" width="276"/>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
<!--    https://gijgo.com/timepicker-->
    <input id="timepicker" width="276" />
    <script>
        $('#timepicker').timepicker();
    </script>

    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
